.home__container {
  background-color: var(--consalud-gray-100);
  min-height: 100vh;
  header {
    background-color: var(--consalud-primary);
    color: var(--consalud-white);
    padding: var(--consalud-spacing-3xl);
    text-align: center;
    h1 {
      font-size: var(--consalud-font-size-3xl);
    }
    p {
      font-size: var(--consalud-font-size-lg);
    }
  }

  section {
    padding: var(--consalud-spacing-xl);
    display: grid;
    gap: var(--consalud-spacing-2xl);
    max-width: var(--consalud-max-width);
    margin: 0 auto;
    & > div {
      display: flex;
      flex-direction: column;
      gap: var(--consalud-spacing-md);
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    border: 3px dotted var(--consalud-primary);
    border-radius: 50%;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .home__container section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 992px) {
  .home__container section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .home__container section {
    grid-template-columns: repeat(3, 1fr);
  }
}
