@import url('@consalud/consalud-ui/dist/index.css');

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--consalud-font-family);
  font-size: var(--consalud-font-size-base);
  line-height: var(--consalud-line-height-normal);
  color: var(--consalud-black);
  background-color: var(--consalud-gray-100);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  min-height: 100vh;
  padding-bottom: var(--consalud-spacing-3xl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--consalud-font-weight-semibold);
}

p {
  margin: 0;
}
